// ::ng-deep .custom-colored-checkbox .mdc-checkbox__background {
//   background-color: var(--checkbox-fill-color) !important;
//   border: 2px solid var(--checkbox-border-color) !important;
// }
// /* Apply styles to MDC checkbox background using data attribute */
// ::ng-deep .custom-colored-checkbox.mat-mdc-checkbox-checked[data-color] .mdc-checkbox__background {
//   background-color: attr(data-color color, red) !important;
//   border-color: attr(data-color color, red) !important;
// }

// /* Border color when not checked (optional) */
// ::ng-deep .custom-colored-checkbox[data-color] .mdc-checkbox__background {
//   border: 2px solid attr(data-color color, gray) !important;
// }
.progress-chart-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

canvas {
  width: 100% !important;
  height: 50px !important; /* height of the bar */
  border-radius: 10px;
}
