<router-outlet></router-outlet>
<!-- <app-select-dropdown></app-select-dropdown>
<app-autocomplete></app-autocomplete> -->
<!-- <app-debounce></app-debounce> -->
<!-- <app-fileuplod-download></app-fileuplod-download> -->
<!-- <app-dynamic-table></app-dynamic-table> -->
<!-- <app-mutli-step-form></app-mutli-step-form> -->
<!-- app.component.html -->

<!--scroll indicator-->
<app-scroll-indicator></app-scroll-indicator>

<!-- Your content goes here -->
<div class="content">
  <div style="height: 2000px">Scroll to see the indicator!</div>
</div>
