.slide-box {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
  