<!-- <div>
  <h2>Upload File</h2>
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="onUpload()">Upload</button>
</div>

<div>
  <h2>Download File</h2>
  <button (click)="onDownload()">Download</button>
</div> -->
<div class="file-upload-container">
  <h2>Upload File</h2>

  <!-- Custom file upload button with Material Icon -->
  <label for="file-upload" class="upload-button">
    <mat-icon>cloud_upload</mat-icon>
    <span>Select a file</span>
  </label>

  <!-- Hidden file input -->
  <input type="file" id="file-upload" (change)="onFileSelected($event)" />

  <!-- Progress Bar -->
  <div *ngIf="progress > 0" class="progress-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
    <div class="progress-percentage">{{ progress }}%</div>
    <!-- Display Percentage -->
  </div>
  <button (click)="onUpload()">Upload</button>

  <!-- Display file name and download button -->
  <div class="uploaded-file-info">
    <p>Uploaded File: {{ fileName }}</p>
    <button (click)="onDownload()">Download</button>
  </div>
</div>
